@charset "utf-8";
body {
    background: #d3fad3;
    color: rgb(175, 18, 18);
}

div#interface {
    width: 1060px;
    background-color: #fce7af;
    margin: -10px auto 10px auto;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    ;
}

nav#navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #f3fc7d;
    border: 2px solid #f8f2f2;
    font-size: x-large;
}

nav#navbar li {
    display: inline-block;
    background-color: #a6cfbb;
}

nav#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

nav#navbar li a:hover {
    background-color: #111111;
}

.active {
    background-color: #e8bff8;
}

section#corpo {
    display: block;
    width: 580px;
    float: left;
}

div.soma h1 {
    font-size: xx-large;
    color: #008000;
}

div.soma h2 {
    font-size: x-large;
    color: #DAA520;
}

div.soma h3 {
    color: #A0522D;
}

div.soma p {
    font-size: small;
    color: rgb(138, 65, 6);
}

div.soma .n1 {
    border: none;
    text-decoration: none;
    border-radius: 4px;
    background-color: lightseagreen;
    color: #ffffe0;
    font-family: fantasy;
    padding: 8px 0px;
    text-align: center;
}

figure {
    float: right;
}

div.soma .n2 {
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    background-color: lightseagreen;
    color: #ffffe0;
    font-family: fantasy;
    padding: 8px 0px;
}

div.soma .click {
    border: none;
    text-decoration: none;
    border-radius: 4px;
    background-color: magenta;
    color: #ffffe0;
    padding: 8px 0px;
}

div.soma .paragr1 {
    font-size: x-large;
}

div.soma .resultado1 {
    font-size: xx-large;
}

div.multiplica h1 {
    font-size: xx-large;
    color: #FFFF00;
}

div.multiplica h2 {
    font-size: x-large;
    color: #4682B4;
}

div.multiplica h3 {
    color: #FF0000;
}

div.multiplica p {
    font-size: small;
    color: rgb(138, 65, 6);
}

div.multiplica .n5 {
    border: none;
    text-decoration: none;
    border-radius: 4px;
    background-color: lightseagreen;
    color: #ffffe0;
    font-family: fantasy;
    padding: 8px 0px;
    text-align: center;
}

div.multiplica .n6 {
    border: none;
    border-radius: 4px;
    text-decoration: none;
    background-color: #20b2aa;
    color: #ffffe0;
    font-family: fantasy;
    padding: 8px 0px;
    text-align: center;
}

div.multiplica .click {
    border: none;
    text-decoration: none;
    border-radius: 4px;
    background-color: magenta;
    color: #ffffe0;
    padding: 8px 0px;
}

div.multiplica .paragr3 {
    font-size: x-large;
}

div.multiplica .resultado3 {
    font-size: xx-large;
}

aside#latDireita {
    display: block;
    width: 400px;
    float: left;
    padding-left: 10px;
}

div.subtrai h1 {
    font-size: xx-large;
    color: #008000;
}

div.subtrai h2 {
    font-size: x-large;
    color: #DAA520;
}

div.subtrai h3 {
    color: #A0522D;
}

div.subtrai p {
    font-size: small;
    color: rgb(138, 65, 6);
}

div.subtrai .n3 {
    border: none;
    text-decoration: none;
    border-radius: 4px;
    background-color: lightseagreen;
    color: #ffffe0;
    font-family: fantasy;
    padding: 8px 0px;
    text-align: center;
}

div.subtrai .n4 {
    border: none;
    border-radius: 4px;
    text-decoration: none;
    background-color: #20b2aa;
    color: #ffffe0;
    font-family: fantasy;
    padding: 8px 0px;
    text-align: center;
}

div.subtrai .click {
    border: none;
    text-decoration: none;
    border-radius: 4px;
    background-color: magenta;
    color: #ffffe0;
    padding: 8px 0px;
}

div.subtrai .paragr2 {
    font-size: x-large;
}

div.subtrai .resultado2 {
    font-size: xx-large;
}

/*aqui começa a divisao*/

div.divisao h1 {
    font-size: xx-large;
    color: #6959CD;
}

div.divisao h2 {
    font-size: x-large;
    color: #F4A460;
}

div.divisao h3 {
    color: #32CD32;
}

div.divisao p {
    font-size: small;
    color: rgb(138, 65, 6);
}

div.divisao .n7 {
    border: none;
    text-decoration: none;
    border-radius: 4px;
    background-color: lightseagreen;
    color: #ffffe0;
    font-family: fantasy;
    padding: 8px 0px;
    text-align: center;
}

div.divisao .n8 {
    border: none;
    border-radius: 4px;
    text-decoration: none;
    background-color: #20b2aa;
    color: #ffffe0;
    font-family: fantasy;
    padding: 8px 0px;
    text-align: center;
}

div.divisao .click {
    border: none;
    text-decoration: none;
    border-radius: 4px;
    background-color: magenta;
    color: #ffffe0;
    padding: 8px 0px;
}

div.divisao .paragr4 {
    font-size: x-large;
}

div.divisao .resultado4 {
    font-size: xx-large;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #faf5f5;
    background-color: tomato;
    margin-left: -9px;
    margin-right: -9px;
}

footer#rodape p {
    text-align: left;
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
    margin-bottom: -10px;
}